.service {
  background-color: #f8f8f8;
  /* max-width: 320px; */
}

.service__title {
  background-color: #ffffff;
  margin-bottom: 0.9em;
  padding: 1em;
}

/* .service__body {
  display: none;
} */

.service__brand {
  width: 100%;
  margin-bottom: 0;
}

.service__brands {
  overflow: visible;
  display: flex;
  column-gap: 0em;
}
