.navigation__body {
  padding: 1.5em;
  padding-top: 1.12em;
}

.logo {
  position: relative;
}

.logo__img {
  padding-left: 1em;
}

.logo:after {
  position: absolute;
  top: 20%;
  left: 0;
  width: 2px;
  border-top: 32px solid #eaeaea;
  content: '';
}

.navigation__right-bar {
  display: flex;
}

.navigation__block-center {
  display: flex;
  padding-right: 1.25em;
  max-width: 172px;
  float: right;
}

.navigation__block-center .navigation__item {
  margin-right: 1em;
}

.navigation__block-center .navigation__item:last-child {
  margin-right: 0em;
}

.navigation__block-right .navigation__item {
  margin-right: 1em;
}

.navigation__block-right .navigation__item:last-child {
  margin-right: 0em;
}

.navigation__block-right {
  padding-left: 1.25em;
  position: relative;
}

.navigation__block-right:after {
  position: absolute;
  top: 20%;
  left: 0;
  width: 2px;
  border-top: 32px solid #eaeaea;
  content: '';
}

.main__body {
  padding-top: 1.4em;
}

.title__body {
  padding-left: 1.5em;
  margin-bottom: 2em;
}

.scroll-bar__block {
  padding: 0 1.5em;
  margin-bottom: 2em;
}

.main__content-block {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5em;
}

.main__text-body {
  margin-right: 3em;
}

.main__text {
  width: 100%;
  margin-bottom: 0.61em;
}

.main__img {
  max-width: 360px;
  border-radius: 6px;
}
